  
body {
	background: #141414;
	color: #ffffff;
}

header, main {
  width: 100%;
  height: auto;
}

header {
  text-align: center;
}

main {
  margin-top: 20px;
}

.movie-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.image-container {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.image-container:hover {
	cursor: pointer;
  transform: scale(1.1);
  transition: all ease 0.2s;
}