@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Cedarville+Cursive&family=Just+Another+Hand&display=swap');

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  width: 100%;
  font-size: 15px;
}

body {
  margin: auto;
  min-width: 1000px;
  background-color: ivory;
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

* {
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

td a {
  text-decoration: none;
  font-size: 1.3em;
  color: blue;
}

/* miscellaneous */
a {
  background-color: transparent;
  text-decoration: none;
 }

a:active {
  outline: 0;
  text-decoration: none;
}

a:hover {
  outline: 0;
  text-decoration: none;
}

h1 {
  font-size: 4.2em;
  margin: 0.67em 0; }
  
h2 {
  font-size: 2em; 
  text-transform: uppercase;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

img {
  border: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 20px 0 20px 0;
}

input {
  background-color: rgb(219, 219, 219);
  border: 1px solid rgb(25,25,25);
  color: black;
  font: inherit;
  margin: 0; 
}

button {
  border: 1px solid black;
  background-color: white;
  color: black;
  font: inherit;
  margin: 0;
  border-radius: 50%;
  overflow: visible; 
}

button,
select {
  text-transform: none; }

header {
  width: 100%;
  height: auto;
}
/* navbar */
.navbar-dark {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1000;
  transition: all 0.4s;
}

.navbar-brand {
  color: red;
  font-family: inherit;
  font-size: 35px;
  line-height: 60px;
  padding: 0 50px;
  font-weight: bold;
}

.mr-auto {
  float: right;
}

.mr-auto li {
  display: inline-block;
  line-height: 60px;
  margin: 0 10px;
}

.mr-auto li a {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.mr-auto li a:hover {
  color: red;
  transition: 0.4s ease;
}

.menu {
  font-size: 20px;
  color: white;
  float: right;
  line-height: 60px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* --------- responsive navbar: desktop ----------- */
@media (max-width: 952px){
  .navbar-brand{
    font-size: 35px;
    padding-left: 25px;
  }
  .mr-auto li a{
    font-size: 15px;
  }
}
@media (max-width: 768px){
  .menu{
    display: block;
  }
  .mr-auto {
    position: absolute;
    width: 100%;
    height: auto;
    background: black;
    top: 40px;
    left: -2000px;
    text-align: center;
    z-index: 1000;
    transition: all .5s;
  }

  .mr-auto li {
    display: block;
  }

  .mr-auto li a {
    font-size: 20px;
  }

  .mr-auto li a:hover {
    color: red;
  }

  #check:checked ~ .mr-auto {
    left: 0;
  }
}

main {
  min-width: 1000px;
  height: auto;
  margin: 1.5em;
}

main img, video {
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

/* sections */
main section {
  overflow: hidden;
  text-align: center;
  padding: 10px;
  transition: 0.3s;
}

main section h1 {
  font-family: 'Cedarville Cursive', cursive;
  margin-bottom: 40px;
}

.img {
  max-width: 250px;
  max-height: 250px;
	margin: auto;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
}

.img img {
  position: relative;
  max-width: 100%; max-height: 100%;
}

#about-section {
  min-width: 1000px;
  height: auto;
  padding: 10px;
}

.text, p {
  font-size: 1em;
  text-align: center;
}

#about-section .text {
  color: black;
  text-align: center;
}

#about-section p {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.75em;
}

.cycle-slideshow { 
  width: 75%;
  margin: 0 auto;
}
.cycle-slideshow img { width: 100%; height: auto; border-radius: 10px; }

.caption {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;   
}

#project-section a, #inspiration {
  background-color: #282C34;
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 10px;
}

#project-section a:hover {
  font-size: 20px;
  transition: 0.4s ease;
}

main p, main ul li, ol li {
  font-size: 1.2em;
  text-align: justify;
  padding: 0 20px 20px;
}

main ul li, ol li {
  font-weight: 600;
}

ol {
  list-style: none;
  counter-reset: item;
}
ol li {
  counter-increment: item;
  margin-bottom: 5px;
}
ol li:before {
  margin-right: 10px;
  content: counter(item);
  background: #282C34;
  border-radius: 50%;
  color: white;
  width: 1.2em;
  text-align: center;
  display: inline-block;
}

.content img {
  max-width: 100%;
  max-height: 400px;
}

main ul {
  list-style: none;
}

main ul li:before {
  content: '✓';
  font-size: 1.2em;
  font-weight: bold;
  padding-right: 5px;
}

.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2px;
}

.feedback img {
  max-width: 100%;
  height: auto;
  margin-right: 5px;
}

td p, td ul li {
  font-size: 0.8em;
}
/* footer */
footer {
  width: 100%;
  height: auto;
  background-color: #282C34;
  bottom: 0;
  padding: 5px;
}

footer span.text {
  font-size: 1em;
}

footer p, footer h2 {
  color: white;
  font-size: 1em;
  text-align: center;
}

#main-content {
  display:flex;
  border-bottom: 2px dotted white;
}

#main-content .box {
  flex-basis: 50%;
  padding: 10px 20px;
}

.inner-content {
  color: white;
  text-align: center;
}

.box .inner-content, .left .inner-content .social-media {
  margin: 20px 0 0 0;
}

.social-media {text-align: center;}

.social-media a {
  padding: 0 2px;
  text-decoration: none;
  color: white;
}

.social-media a span {
  height: 40px;
  width: 40px;
  background: #282C34;
  line-height: 40px;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.social-media a span:hover {
  background: red;
}

.right .inner-content form {
  padding: 0 2px;
  margin-top: 10px;
}

video {
  width: 75%;
  height: 50%;
  outline: none;
}

/* reflections */
#reflection-section q  {
  font-family: 'Just Another Hand', cursive;
  font-size: 2em;
  text-align: justify;
}

#backtotop a, #website a {
  font-size: 20px;
  text-decoration: underline;
  color: black;
}

/* section dividers */
.divider
{
	position: relative;
	margin-top: 50px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: black;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

/* to make cards */
.boxdiv {
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  background-color: white;
}

/* final interactivity */
.interact {
  width: 100%;
  height: auto;
  padding: 10px;
}

.interact > div {
  margin: 15px;
}

/* header on top of page: Akash's Chronicles */
.startpage {
  width: 100%;
  height: 2000px;
  background-color: #282C34;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.startelements {
  margin-top: 200px;
}

.startpage h1 {
  font-family: "Cedarville cursive", "cursive";
  color: crimson;
  font-size: 100px;
}

.start a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 200px;
  color: crimson;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.start a:hover {
  font-size: 220px;
}